<div class="container">
  <h1>Delete an Event</h1>
    <form action="/delete_event" method="post">
      <input type="text" name="delete_this" placeholder="Even to be deleted" />
      <input type="submit">
    </form>
</div>
