<div class="container">
  <h1>Log in</h1>
    <form id="login_form" action="/login" method="post" >
      <input type="text" placeholder="Email" name="email" /><br/>
      <input type="password" placeholder="Password" name="password" /><br/>
      <input type="password" placeholder="Confirm Password" name="confirm_password"/><br/>
      <input type="submit">
    </form>

      <h1>Sign Up</h1>
    <form action="/sign_up" method="post" >
      <input type="text" placeholder="First Name" name="post[first_name]" /><br/>
      <input type="text" placeholder="Lsat Name" name="post[last_name]" /><br/>
      <input type="text" placeholder="Email" name="post[email]"/><br/>
      <input type="text" placeholder="Birthday" name="post[birthdate]"/><br/>
      <input type="password" placeholder="password" name="post[password]" /><br/>
      <input type="password" placeholder="Confirm" name="post[password_confirmation]"/><br/>
      <input type="submit">
    </form>
</div>
